<p id="notice"><%= notice %></p>

<p>
  <strong>Mses:</strong>
  <%= @cust_mobile.mses %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @cust_mobile.seller %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @cust_mobile.buyer %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @cust_mobile.invoice %>
</p>

<%= link_to 'Edit', edit_cust_mobile_path(@cust_mobile) %> |
<%= link_to 'Back', cust_mobiles_path %>
