<%= form_for @buyer, url: "/create_new_buyer" do |buyer| %>
  <label>BUYER-NAME:			</label><%= buyer.text_field :name %><br />
  <label>BUYER-ADDRESS:			</label><%= buyer.text_field :address %><br>
  <label>BUYER-CONTACT:		</label><%= buyer.text_field :contact_num %><br><br>
  <%= buyer.submit "Create" %>
<% end %>