<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @image_attachment.post_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @image_attachment.avatar %>
</p>

<%= link_to 'Edit', edit_image_attachment_path(@image_attachment) %> |
<%= link_to 'Back', image_attachments_path %>
