<html>
  <head>
    <style>
    table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
    </style>
  </head>
  <body bgcolor= "#DEB887">
  <center><h1>BUYER/CUSTOMER DETAILS</h1></center> <p align="right"><font size=3><%= link_to "Home", "/" %>   || <%= link_to "Add New Buyer", "/newbuyer" %></font></p>

    <table>
 	  <tr>
	    <th>BUYER-ID</th>
	    <th>BUYER-NAME</th>
	    <th>BUYER-ADDRESS</th>
	    <th>BUYER-CONTACT</th><br>
	  </tr>
      <% @buyers.each do|buyer| %> 
	    <tr>
	  	  <td><%= buyer.id %></td>
	      <td><%= buyer.name %></td>
	      <td><%= buyer.address %></td>
	      <td><%= buyer.contact_num %></td>
        <td><%= link_to "Edit", "/"%> &nbsp; &nbsp; <%= link_to "Delete", "/delete_buyer?id=#{buyer.id}", method: 'DELETE' %></td><br>
  	    </tr>  	
      <% end %>
    </table>
  </body>
</html>
