<html>
  <head>
    <style>
    table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
    </style>
  </head>
   <body bgcolor= "#DEB887">
  <center><h1>PAYMENT DETAILS</h1></center><p align="right"><font size=3><%= link_to "Home", "/" %>   ||        <%= link_to "Add Payment Details", "/invoice/new" %></font></p>
    <table>
 	  <tr>
	    <th>PAYMENT-ID</th>
	    <th>PAYMENT-MODE</th>
	    <th>PAYMENT-DETAILS</th>
	    <th>PRICE</th>
	    <br>
	  </tr>
      <% @invoices.each do|invoice| %> 
	    <tr>
	  	  <td><%= invoice.id %></td>
	      <td><%= invoice.payment_mode %></td>
	      <td><%= invoice.payment_details %></td>
	      <td><%= invoice.price %></td><br>
         <td><%= link_to "Edit", "/edit_invoice?id=#{invoice.id}" %> &nbsp; &nbsp; <%= link_to "Delete", "/delete_invoice?id=#{invoice.id}", method: 'DELETE' %></td><br>
  	    </tr>  	
      <% end %>
    </table>
  </body>
</html>
