<%= form_for(@image, :html => { :multipart => true }) do |f| %>
  <div class="field">
     <%= f.label :title %><br>
     <%= f.text_field :title %>
  </div>

   <%= f.fields_for :image_attachments do |p| %>
     <div class="field">
       <%= p.label :avatar %><br>
       <%= p.file_field :avatar, :multiple => true, name: "image_attachments[avatar][]" %>
     </div>
   <% end %>

   <div class="actions">
     <%= f.submit %>
   </div>
<% end %>
