<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <%= f.label :publication_id %>
    <%= f.text_field :publication_id %>
  </div>

  <div class="field">
    <%= f.label :actual_copy %>
    <%= f.number_field :actual_copy %>
  </div>

  <div class="field">
    <%= f.label :current_copy %>
    <%= f.number_field :current_copy %>
  </div>

  <div class="field">
    <%= f.label :dept_id %>
    <%= f.text_field :dept_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
