<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @book.publication %>
</p>

<p>
  <strong>Actual copy:</strong>
  <%= @book.actual_copy %>
</p>

<p>
  <strong>Current copy:</strong>
  <%= @book.current_copy %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @book.dept %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
